body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 40px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}